<header>
  <div class="navbar custom_navbar">
    <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <h3 style="font-family: 'Audiowide', cursive;">MOVIES</h3>
      <% end %>
      <% if current_user %>
        <%= link_to destroy_user_session_path, method: "delete", style: 'color: white;' do %>
          Sign out
        <% end %>
      <% else %>
        <form class="d-flex" >
            <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary sign_up'%>
            <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary' %>
        </form>
      <% end %>
    </div>
  </div>
</header>
